/* Headings */
.Heading {
  background-color: #f7444e;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
  font: 16px "Montserrat", sans-serif;
}

.Heading h1 {
  font-size: 42px;
  font-weight: 800;
}

/* Products Page */
.product-page {
  margin-top: 20px;
}

.section-title {
  position: relative;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.product-page {
  padding: 60px 0;
  padding-top: 40px;
}

.section-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  /* margin-top: 40px; */
}

.section-title span {
  color: #ff4d4d;
}

/* CARD STYLE */

.product-card {
  border: none !important;
  overflow: hidden;
  transition: 0.4s;
  position: relative;
  background: #f7f8fa !important;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card h5 {
  min-height: 70px;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.product-card img {
  max-width: 100%;
  max-height: 180px;
  width: auto;
  transition: 0.4s ease;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
}

.product-image {
  width: 100%;
  height: 280px;
  object-fit: contain;
}

/* PRICE */
.price {
  color: #ff4d4d;
  font-weight: bold;
}


/* IMAGE WRAPPER */
.img-wrapper {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-wrapper img,
.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.card-body h5 {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .img-wrapper {
    height: 200px;
  }
}

@media (max-width: 576px) {
  .img-wrapper {
    height: 200px;
  }

  .card-body h5 {
    font-size: 18px;
    min-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: 1fr;
  }

  .navbar-nav {
    text-align: center;
  }

  .hero-content {
    padding: 20px;
  }

  .navbar-collapse {
    text-align: center;
  }
}

.img-wrapper img {
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 🔥 OVERLAY STYLE */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 0.4s ease;
}

/* SHOW ON HOVER */
.img-wrapper:hover .overlay {
  opacity: 1;
}

.img-wrapper:hover img {
  transform: scale(1.1);
}

/* TEXT */

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h5 {
  color: white;
}

.overlay .price {
  color: #ff4d4d;
  font-weight: bold;
}

/* BUTTON */
.btn-add-to-cart {
  background-color: #ff4d4d !important;
  border: 1px;
  padding: 15px 40px;
  margin-top: 10px;
  width: 150px;
  margin: 5px;
}

.btn-add-to-cart:hover {
  background-color: black !important;
  border: #f7444e !important;
}